/* HEADER */
@media screen and (min-width:1301px){
  header nav ul{
    display: flex;
  }

  .fa-solid.fa-bars{
    display: none
  }
}
/* HEADER */

/* MEDIA DESCRIPTION */
@media screen and (min-width:800px) {

  .description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .description .box-square:first-of-type{
    width: calc(66% - 20px)
  }

  .description .box-square{
    width: calc((100% / 3) - 20px);
  }
}
@media screen and (min-width:1301px) {
  .container{
    width: 60%;
  }  

  .description .box-square:first-of-type{
    position: relative;
    top: 0;
    right: 0;
  }

  .description .box-square:first-of-type p{
    width: 55%;
  }

  .description .box-square:first-of-type img{
    position: absolute;
    left: 90%;
    transform: translate(-90%);
    bottom: 0;
  }

}


/* MEDIA DESCRIPTION */
/* MEDIA PLANNING */
@media screen and (min-width:1000px) {
  .planning .row {
    display: flex;
    align-items: baseline;
  }

  .planning .col {
    width: 30%;
  }
}

@media screen and (min-width:800px) and (max-width: 999px){
 .planning h2{
  font-size: 10vw;
 } 
}

@media screen and (min-width:1300px) {
  .planning .row{
    width: 50%;
    margin: 0 auto;
  }
  .planning .col.left{
    width: 60%;
    margin-right: 10%;
  }
  .planning .col.right {
    width: 40%;
  }
}

/* MEDIA PLANNING */

/* MEDIA TESTIMONIALS  + BENEFITS*/
@media screen and (min-width: 800px) {
   .testimonials h2 , .benefits h2{
    font-size: 3em;
  }
  .benefits .row{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px
  }
  .benefits .box-square{
    width: calc((100% / 2 ) - 20px );
  }
}

@media screen and (min-width: 1450px) {
  .benefits .row .box-square{
    width: calc((100% / 3 ) - 20px);
  }
}
/* MEDIA TESTIMONIALS  + BENEFITS*/
/* ABOUT US */
@media screen and (min-width: 800px) {
  .about-us{
    flex-direction: row;
    gap: 100px;
  }

  .about-us .col{
    display: flex;
    flex-direction: column;
  }

  .about-us .col.left{
    width:60%
  }

  .about-us .col.right{
    width: 40%;
  }
  .about-us img{
    width: 300px;
    height: 300px;
  }
  .about-us span{
    margin-top: 150px;
  }
  .about-us .img-box i{
    right: -90px
  }
}

/* ABOUT US */