/* GENERAL */
*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 ul, ol{
  list-style: none;
 }

 a{
  text-decoration: none;
 }

 body{
  font-family: 'Roboto Condensed', sans-serif;
 }
.button{
  border-radius: 50px;
}

.box-square{
  border-radius: 15px;
}
h4{
  font-size: 1.5em;
  font-weight: 600;
}

.box-rounded{
  border-radius: 40px;
}

/* GENERAL */
/* Utilities */
 .container{
  width: 90%;
  padding: 0 20px;
  margin: 0 auto;
 }

/* Utilities */
/* Header */
header{
  background-color: #0084fd;
  height: 75px;
  position: fixed;
  top: 0%;
  right: 0;
  width: 100%;
  z-index: 99;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header nav ul{
  display: flex;
  gap: 30px;
  display: none;
}


header nav ul li a{
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 35px;
}

header nav .button{
  vertical-align:text-top;
  display: inline-block;
  width: 120px;
  height: 35px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 35px;
}

header i{
  color: white;
  font-size: 1.8em;
  cursor: pointer;
}

header i:hover{
  font-size: 2em;
}
/* Header */
/* Section description */
.description{
  margin-top: 75px;
  padding: 50px 0 55px 0;
}

.description .box-square{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background-color: #b5ddff;
  padding: 30px;
  text-align: center;
  margin-bottom: 25px;
}

.description .box-square h4 a{
  color:#0084fd;
}

.description .box-square >i{
  font-size: 5em;
  color:#0084fd;
  padding-bottom: 20px;

}

.description .box-square .left-text{
  text-align: left;
}

.description .box-square p{
  padding: 20px 0;
  font-size: 1.2em;
  color: #5a6e7f;
  font-weight: 600;
}

.description .box-square .button{
  background-color: #0084fd;
  width: 210px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}

.description .box-square .button i{
  margin-right: .5em;
}

.description .box-square img{
  height: 270px;
  width: 200px;
  object-fit: cover;
  align-self: center;
  margin-top: 40px;
}

.description .box-square:first-of-type{
  padding: 30px 30px 0 30px;
}
/* Section description */
/* Section planning */
.planning{
  background-color:#9792e4 ;
  padding: 80px 20px;
}

.planning .col.left img{
  object-fit: cover;
  width: 100%;
}

.planning .col.right img{
  object-fit: cover;
  width: 100%;
}

.planning .box-rounded{
  background-color: white;
  text-align: center;
}
.planning h2{
  font-size: 2.2em;
  color: white;
  margin: 30px 0;
}

.planning .col p{
  color: white;
  font-size: 1.2em;
  line-height: 30px;
  margin-bottom: 30px;
}

.planning .box-rounded{
  padding: 20px;
}

.planning .col.right h4{
  margin: 30px ;
}

.planning .col.right p{
  color: black;
}

.planning .col.right i{
  background-color: #9792e4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
/* Section planning */

/* Section Testimonials */
.testimonials{
  padding: 50px 15px 100px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  text-align: center;
}

.testimonials h5{
  font-size: 1.5em;
  font-weight: lighter;
}

.testimonials h2{
  color: #9792e4;
  font-size: 2.5em;
}

.testimonials p{
  line-height: 40px;
  font-size: 1.4em;
  padding: 20px;
}

.testimonials .box-rounded{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #9792e4;
  padding: 40px 20px;
  color: white;
  gap: 20px
}

.testimonials .box-rounded img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials .box-rounded p::after{
  font-family: "Font Awesome 6 Free";
  content: "\f10e";
  font-weight: 900;
  padding: 5px;
  font-size: 1.2em;
}

.testimonials .box-rounded p::before{
  font-family: "Font Awesome 6 Free";
  content: "\f10d";
  font-weight: 900;
  padding: 5px;
  font-size: 1.2em;
}

.testimonials .box-rounded h4{
  text-transform: uppercase;
}
/* Section Testimonials */

/* Section Benefits */
.benefits{
  background-color: #9792e4;
  padding: 50px 20px ;
}

.benefits .container{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.benefits h2{
  text-align: center;
  color: white;
  font-size: 2.5em;
  margin-bottom: 50px;
}

.benefits .box-square{
  background-color: white;
  color: #9792e4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.benefits .box-square h3{
  font-size: 2em;
}

.benefits .box-square h3:first-of-type{
  font-size: 3em;
}

.benefits .box-square p{
  font-size: 1.2em;
  color: #5a6e7f;
  line-height: 30px;
}

.benefits .button{
  background-color: #9792e4;
  color: white;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}
/* Section Benefits */
/* About us */
.about-us{
  padding: 50px 20px ;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.about-us h1{
  font-size: 3em;
  color: #9792e4;
}

.about-us p{
  line-height: 50px;
  font-size: 1.2em;
}

.about-us .img-box{
  width: 200px;
  height: 200px;
}

.about-us img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.about-us .img-box{
  position: relative;
  top: 0;
  right: 0;

}

.about-us .img-box i{
  position: absolute;
  top: 0;
  right: 0;
  color: #9792e4;
  font-size: 5em;
}

.about-us span{
  color: #9792e4;
  font-size: 2em;
  font-weight: bold;
}

.about-us .button{
  background-color:#9792e4;
  width: 200px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: white;
}

.about-us .col{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
/* About us */
/* Get started */
.get-started{
  background-color: #9792e4;

}
.get-started > .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 50px 20px;
}

.get-started h5, h2, h1, p, span, a{
  text-align: center;
}

.get-started h5{
  font-size: 1.5em;
  font-weight: 300;
  color: #d5d4f4;
}

.get-started h2{
  color: white;
  font-size: 2.5em;
}

.get-started h1{
  color:#fdc15f;
  font-size: 4em;
}
.get-started p{
  font-size: 1.2em;
  line-height: 30px;
  color: white;
}

.get-started .button{
  background-color: white;
  color: #9792e4;
  width: 270px;
  height: 65px;
  line-height: 65px;
  font-size: 1.5em;
}

.get-started a, span{
  color: white;
}

.get-started span > a:hover{
  text-decoration: underline;
}
/* Get started */

/* Footer */
footer{
  background-color: #333333;
  color: white;
  font-size: .9em;
}

footer a{
  color: #9792e4;
}

footer a:hover{
  text-decoration: underline ;
}

footer .top{
  padding: 50px 20px;
}

footer .bottom{
  padding-bottom: 50px;
}
/* Footer */